<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProfitbricksApiServicePortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="ProfitbricksApiServicePortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.profitbricks.com/1.2" binding="basicHttpBinding"
                bindingConfiguration="ProfitbricksApiServicePortBinding" contract="WsProfitBricksApi.ProfitbricksApiServicePortType"
                name="ProfitbricksApiServicePort" />
        </client>
    </system.serviceModel>
</configuration>