<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProfitbricksApiServicePortBinding">
                    <security mode="Transport"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.profitbricks.com/1.2" binding="basicHttpBinding" bindingConfiguration="ProfitbricksApiServicePortBinding" contract="WsProfitBricksApi.ProfitbricksApiServicePortType" name="ProfitbricksApiServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
